In [39]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        import pyttsx3
from pyttsx3 import Engine
engine: Engine = pyttsx3.init('sapi5')
voices = engine.getProperty('voices')
engine.setProperty('voice', voices[0].id)
engine.setProperty('rate', 160)
engine.runAndWait()
def talk(text):
    engine.say(text)
    print(text)
    engine.runAndWait()

# DATATYPE & VARIABLES

1. Integers
2. String
3. Float
4. boolean

variables: variable_name = value
reserved memory location used to store values

Variable names are case-sensitive (age and Age are different variables).
Variable names must begin with a letter (a-z, A-Z) or an underscore (_).
Subsequent characters can be letters, digits (0-9), or underscores.
Avoid using reserved words as variable names (e.g., if, else, while, etc.).

In [3]:
Integer = 7345
string = "akash  s as dsa dsa"
float_num = 12.5
boolean = True or False

In [18]:
name = "akash m"
department = "cse"
sec="A"
Rollno=12321
print(name)

akash m

In [17]:
print(name)

akash m

# OPERATORS

In [9]:
a = 3
b = 8
c=6
d=1

In [10]:
print((a-d)%b*c)

12

In [6]:
print(a-b)

-5

In [7]:
print(a*(b+a))

33

In [2]:
name = "Akash"
greeting = ' Have'+" a" + " Great "+"Day"
print(name + greeting)

Akash Have a Great Day

In [ ]:
names = name*3
print(names)

In [11]:
a = "mom"
b= "mom"
a=1

In [9]:
a += 2

In [10]:
a

3

In [14]:
a = a+2

In [15]:
a

5

In [24]:
a += b

1

In [7]:
a=("!","")
b=1
b not in a

False

# Indexing and slicing

enter your name: cynthia

c  y  n  t  h  i  a
0  1  2  3  4  5  6

In [19]:
name[-1]

'a'

In [20]:
name[0].upper()+name[1:]

'Cynthia'

In [18]:
name[1:4]

'ynt'

In [ ]:
name[1:4]

In [20]:
number = "0123456789"
print(number[::2])

02468

# Functions and  Formating

In [5]:
lang = input("enter your name ")

enter your name cynthia

In [8]:
lang=lang.capitalize()

In [9]:
lang

'Cynthia'

In [10]:
lang.swapcase()

'cYNTHIA'

In [11]:
name='my name is cynthia'

In [12]:
name1=name.replace('cynthia','akash')
print(name1)

my name is akash

In [31]:
color=input("enter your fav color")
print(f"{color} is my fave color")

enter your fav colorred
red is my fave color

In [13]:
color="blue"

In [15]:
print(color +" is my fav color")

blue is my fav color

In [16]:
print(f"{color} is my fav color")

blue is my fav color

In [21]:
a = int(input("value 1? "))
b = int(input("value 2? "))
print(f"The sum of the two number is: {a+b} the multiple of two number is: {a*b}")

value 1? 2
value 2? 4
The sum of the two number is: 6 the multiple of two number is: 8

In [24]:
a=5
b=40.52162
print(f"{b:1.4f} is your answer" )

40.5216 is your answer

In [32]:
print("{lang:1.2f} is a float".format(lang = 1.54454))

1.54 is a float

# List in Python

In [36]:
mylist = ['Apple',"1kg",[1,2,2.2,4],["apple",12,[1,2,3,4]]]

In [40]:
mylist=[1,2,3,4,"asdd",True]

In [60]:
mylist

[1, 2, 4, True, 4, 4]

In [61]:
mylist.append(1)

In [44]:
mylist.pop()

6

In [48]:
mylist.remove("asdd")

In [62]:
mylist.count(1)

3

In [63]:
mylist.index(2)

1

In [64]:
mylist.extend([6,7,8,9,10])

In [65]:
mylist

[1, 2, 4, True, 4, 4, 1, 6, 7, 8, 9, 10]

In [34]:
anolist = ["mango's",1.5,100]

In [36]:
clist = mylist+anolist

In [49]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]

In [50]:
matrix[1][0]

4

Indexig and slicing in list

In [42]:
clist[0:3]

['Apple', '1kg', "mango's"]

In [ ]:
new_list = {"red":"apple","orange":"orange","yellow":"mango"}

In [ ]:
new_list["yellow"]="banana"
print(new_list)

In [ ]:
word=input()
if word==word[::-1]:
    print("palindrom")
else:
    
    print("no")

# Append , Pop , Sort, reverse in list

In [51]:
print(clist)

['Apple', '1kg', "mango's", 1.5, 100]

In [54]:
clist.append([1,2,3,4])

In [55]:
clist

['Apple', '1kg', "mango's", 1.5, 100, 'milk', [1, 2, 3, 4]]

In [58]:
clist.pop(0)

'Apple'

In [59]:
clist

['1kg', "mango's", 1.5, 100, 'milk']

In [ ]:
poped_item = clist.pop(0)
print(poped_item)

In [16]:
number_list = ["a","B","c"]

In [19]:
number_list.sort()

In [20]:
number_list

['B', 'a', 'c']

In [4]:
number_list.reverse()

In [5]:
number_list

[7, 4, 3, 2, 1]

In [1]:
numlist=[6,5,7,4,2,8,3,1,9]

In [2]:
numlist[0]

6

In [3]:
numlist[1:6]

[5, 7, 4, 2, 8]

# Dictionaries in Python

In [ ]:
my_dict = {'key1':'value','key2':'value2'}

In [ ]:
my_dict['key1']

In [21]:
stud_rollno={"sriram":193510,"akash":193511,"basu":193512,"gohul":140312}

In [22]:
stud_rollno["gohul"]

140312

In [ ]:
price_list['orange']

In [24]:
d = {'k1':123,'ice cream':["choc","vanila","straw"],'foods':{'fruit':'apple' ,'fastfood':'pizza','juice': 'milk shake'}}

In [28]:
d['foods']['fastfood'] = "fried rice"

In [ ]:
d['ice cream'][2]

In [29]:
d['foods']['fastfood']

'fried rice'

In [ ]:
d = {"k1":123,"k2":"hello","fruits":["apple","grapes","orange"],"k3":{"inside key":100}}

In [ ]:
d["k3"]["inside key"]

In [ ]:
d['k3']['inside key']

In [ ]:
d['k3']['inside key'] = 200

In [ ]:
d['k3']['inside key']

In [ ]:
d["fruits"][1]

# Tuples With Python

In [ ]:
t = (1,2,3,4)

In [ ]:
lst = [1,2,3,4]

In [ ]:
type(lst)

In [ ]:
len(t)

In [ ]:
t1 = ("one",2,3.00,[1,2,4])

In [ ]:
t1[-2]

In [ ]:
t1[-1][0]

# Count & index functions in tuple

In [ ]:
cntry = (1,1,"USA","IND","UK","IND","USA","IND")

In [ ]:
cntry.count("USA")

In [ ]:
cntry.index("UK")

In [ ]:
lst = [1,2,3,4]
t = (1,2,3,4)

In [ ]:
lst[0] = 2
lst

In [ ]:
t[0] = 2

# sets in pyhton

In [ ]:
sets = set("a")

In [ ]:
sets

In [ ]:
sets.add("a")
sets.add("c")
sets

In [ ]:
sets.remove("c")

In [ ]:
sets

In [1]:
number1 = (1,2,3,1,2,3,4,5,5,6,6)

In [13]:
number1

(1, 2, 3, 1, 2, 3, 4, 5, 5, 6, 6)

In [15]:
number1=list(number1)

In [26]:
number1

(0, 1, 2, 3, 4, 5, 6)

In [17]:
number1.append(1)

In [19]:
number1[-1]=0

In [21]:
number1=tuple(number1)

In [25]:
number1=tuple(set(number1))

In [27]:
number1

(0, 1, 2, 3, 4, 5, 6)

In [ ]:
price_list={input("enter the product name "):int(input("enter the price ")),input("enter the product name "):int(input("enter the price ")),input("enter the product name "):int(input("enter the price ")),input("enter the product name "):int(input("enter the price "))}
cart = input("list of product: ").split(",")
print(price_list[cart[0]]+price_list[cart[1]]+price_list[cart[2]])

In [ ]:
cart = input("list of product: ").split(",")
print(price_list[cart[0]]+price_list[cart[1]]+price_list[cart[2]])

In [ ]:
list1=input().split("0")
print(list1)

In [ ]:
print(price_list[cart[0]]+price_list[cart[1]]+price_list[cart[2]])

# Conditional Statements

IF Conditions

In [4]:
if True:
    print("hello")
else:
    print("world")

hello

In [5]:
age = int(input("Enter your age: "))
if age >= 18:
    print("Eligible")
else:
    print("Not Eligible")

Enter your age: 18
Eligible

In [34]:
products = input("Enter your product ")
if products == "apple":
    print("product available")
elif products == "orange":
    print("product available")
elif products == "grapes":
    print("product available")
else:
    print("not available")

Enter your product mango
not available

In [ ]:
products = input("Enter your product ")

available_products = ["apple","orange","grapes"]


if products in available_products:
    print("product available")
else:
    print("product not available")

In [6]:
username = input("Enter your name")
activename=["akash","gohul","gamkers"]
if username in activename:
    print("online")
else:
    print("offline")

Enter your namegamkers
online

# x = int(input("enter the number of commands"))
n = 0
while n != x:
    n += 1
    command = input("enter your command")
    if "hello" in command or "hi" in command:
        talk("hi how are you?")
    elif "fine" in command or "good" in command:
        talk("happy to hear that")
    elif "name" in command:
        talk("my name is BOT")
        talk("whats your name")
        name = input()
        talk(f"nice to meet you {name}")
    elif "morning" in command:
        talk("A very Good Morning! I hope this morning brings a bright smile on your face")
    elif"evening" in command:
        talk("No matter how bad your day has been, the beauty of the setting sun will make everything serene")
    elif"stop" in command:
        break
    elif"thanks" in command:
        talk("your smile makes me happy too")
    else:
        talk("i didn't get you")

# For Loop

In [1]:
number = [1,2,3,4,5,6]
for x in number:
    print(x)

1
2
3
4
5
6

In [ ]:
number = [1,2,3,4,5,6]
for x in number:
    if x%2==0:
        print(f"{x} Even")
    else:
        print(f"{x} ODD")

In [42]:
8%2

0

In [1]:

for i in range(50,100):
    if i%2==0:
        print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
marks = [95,86,72,68]
for x in marks:
    if x >= 90:
        print("A+")
    elif x > 80 and x < 95 :
        print("A")
    elif x > 70 and x < 80 :
        print("B+")
    elif x > 60 and x < 70:
        print("B")
    else:
        print("F")

# While Loop

In [3]:

a=1
while a < 10:
    print("hello"+str(a))
    a = a+1

hello1
hello2
hello3
hello4
hello5
hello6
hello7
hello8
hello9

In [17]:
a=((1,20),(2,3),(4,5),(6,7))
for x,y in a:
    print(x+y)

21
5
9
13

In [10]:
a=1
while a<10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9

In [5]:
a=0
while True:
    a=a+1
    print(a)
    if a >= 10:
        break

1
2
3
4
5
6
7
8
9
10

In [29]:
a=[]

In [30]:
len(a)

0

In [20]:
mylist = []

while len(mylist) < 5:
    mylist.append(input("enter the name "))
print(mylist)

enter the name akash
enter the name cynthia
enter the name isac
enter the name joel
enter the name john
['akash', 'cynthia', 'isac', 'joel', 'john']

In [34]:
mylist[4]

'john'

In [1]:
print(range(4))

range(0, 4)

In [4]:
n=list(range(5))

In [6]:
print(n)

[0, 1, 2, 3, 4]

In [51]:
productp = {}
no=int(input("number of products: "))
while len(productp) < no:
    prod=input("Enter the Product name: ")
    productp[prod] = int(input("Price of the product: "))
    
print(productp)

number of products: 2
Enter the Product name: grill
Price of the product: 400
Enter the Product name: shawarma
Price of the product: 150
{'grill': 400, 'shawarma': 150}

In [38]:
prod={"a":1,"b":2}

In [39]:
len(prod)

2

In [55]:
buy=["shawarma",'grill']

In [58]:
pric=0
for i in buy:
#     print(productp[i])
    pric+=productp[i]
print(pric)

550

In [7]:
for i in range(10):
    print("apple")

apple
apple
apple
apple
apple
apple
apple
apple
apple
apple

In [ ]:
x=0
while x < 10:
    print(x)
    x = x+1   ## x

In [ ]:
mylist = ["apple","orange","grapes"]
print(len(mylist))
len(mylist) > 4

In [ ]:
user = input().split(",")
keys = ["akash","darkii","siri","sai"]
for x in user:
    if x not in keys:
        print("vaipila raja")
    else:
        print(f"welcome {x}")

# List Comprehension

In [8]:
name = "akash"
latter=[]
for i in name:
    latter.append(i)

In [5]:
letter

['a', 'k', 'a', 's', 'h']

In [13]:
nlist = [ latters for latters in name]
nlist

['a', 'k', 'a', 's', 'h']

In [14]:
evenum = [ numbers for numbers in range(0,10,2)]
evenum

[0, 2, 4, 6, 8]

In [15]:
sqrnum = [ numbers**2 for numbers in range(0,10)]
sqrnum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
namelist = ["akash","basskaran","abinash","darkii","arjis"]
alist = [names for names in namelist if names[0]=="a"]
alist

['akash', 'abinash', 'arjis']

In [ ]:
celcius = [3,4,6,7,8,9]
fahrenhiet = [((9/5)*temp+32) for temp in celcius]
fahrenhiet

In [10]:
results = [x if x%2 == 0 else "odd" for x in range(0,10)]

In [11]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [ ]:
results = [x*y for x in [1,2,3,4] for y in [1,2,3,4]]

In [ ]:
results

In [17]:
greetings = ["hi "+names.upper()  for names in ["akash","darki","siri","Arun"] if names[0].upper()=="A"]

In [18]:
greetings

['hi AKASH', 'hi ARUN']

METHODS AND FUNCTIONS

In [ ]:
mylist=[1,2,3,4,5,6]

In [ ]:
mylist.insert(2,5)
mylist

In [ ]:
mylist.extend("s")
mylist

# FUNCTIONS

In [4]:
def casemaker(phone,colour):
    return (f"{colour} color case ready for the {phone} ")

In [5]:
greet=casemaker("Iphone 13 pro max","blue")
print(greet)

blue color case ready for the Iphone 13 pro max

In [35]:
print(greet)

blue color case ready for the Iphone 13 pro max

In [37]:
def add(a,b):
    a=a*2
    return a+b
def sub(a,b):
    return a-b
def multi(a,b):
    return a*b
def divi(a,b):
    return a//b

In [39]:
multi(1*3)

3

In [40]:
def phonecase(phone):
    return phone + "case"
phonecase("redmi")

'redmicase'

In [43]:
a = int(input("enter the first value: "))
b = int(input("enter the second value: "))
operations = input("mention the operation: ")
ans = 0
if "+" in operations:
    ans = addition(a,b)
if "-" in operations:
    ans = sub(a,b)
if "*" in operations:
    ans = multi(a,b)
if "/" in operations:
    ans = divi(a,b)
print(f"Your Answer: {ans}")

enter the first value: 3
enter the second value: 4
mention the operation: *
Your Answer: 12

In [ ]:
sums = input().split(" ")

In [ ]:
sums

In [ ]:
def greeting(name):
    print(f"hello {name}")

In [ ]:
greeting("sri ram")

In [ ]:
a=greeting("afjoh")

In [ ]:
def greeting(name):
    return(f"hello {name}")

In [ ]:
greeting("akash")

In [ ]:
greeting()

In [ ]:
def priceop(lst):
    price_list={"pasta":28,"maggi":10,"bag":5,"newspaper":3,"milk":19,"watercan":30}
    sumofproduct=0
    for x in lst:
        if x in price_list:
            sumofproduct+=price_list[x]
        else:
            print(f"product {x} is not available")
    return sumofproduct

In [ ]:
def priceop(lst):
    price_list={"pasta":28,"maggi":10,"bag":5,"newspaper":3,"milk":19,"watercan":30}
    print(price_list[lst[0]]+price_list[lst[1]]+price_list[lst[2]])

In [ ]:
priceop(["pasta","bag","milk"])

In [6]:
def even_num_check(numberslist):
    even_number = []
    for number in numberslist:
        if number%2==0:
            even_number.append(number)
        else:
            pass
    return even_number

In [7]:
even_num_check([1,2,3,4,5])

[2, 4]

Tuple unpacking using functions

In [ ]:
def employee_of_the_month(emp_list):
        current_max = 0
        best_employee = ""
        for employee,hours in emp_list:
            if hours> current_max:
                current_max = hours
                best_employee = employee
            else:
                pass
        return(best_employee,current_max)

In [ ]:
employee_of_the_month([("siri",300),("darkii",2000),("akash",1000),("sai",50)])

def names_check(list1):
    nameA=[]
    for name in list1:
        if name[0]=="a":
            nameA.append(name)
        else:
            pass
        return(nameA)

In [ ]:
names_check(["skash","balu","ajay"])

In [ ]:
names=[("akash","M"),("siri","K"),("Darki","D")]

In [ ]:
for name,initial in names:
    print(initial)

In [ ]:
def best_student(marklist):
    max_mark=0
    topper=""
    for names,marks in marklist:
        if marks>max_mark:
            max_mark = marks
            topper = names
        else:
            pass
    return(max_mark,topper)

In [ ]:
def best_biriyanii(biriyani_list):
    max_rating=0.0
    best_biriyani=""
    location=""
    for rating,biriyani,map_location in biriyani_list:
        if rating>max_rating:
            max_rating=rating;
            best_biriyani=biriyani;
            location=map_location;
        else:
            pass
    print(f"the best biriyani in chennai is {best_biriyani} and the overall rating is {max_rating} the location of the shop is {location}")

# *ARGs & *KWARG

In [1]:
import requests
from bs4 import BeautifulSoup
url ="https://www.eazydiner.com/chennai/restaurants/biryani"
r = requests.get(url)
data = BeautifulSoup(r.text, "html.parser")
##print(data.prettify())
temp = data.find_all('span', class_="critic")
rating = []
biriyani = []
location = []
for elements in temp:
    element = float(elements.text)
    
    rating.append(element)

temp1 = data.find_all('h3', class_="grey res_name font-20 bold inline-block")   
for elements1 in temp1:
    elements1 = elements1.text.replace("\n           "," ").replace("          "," ").replace("      "," ")
    ##elements1= elements1.text.replace("      "," ")
    biriyani.append(elements1)

temp2 = data.find_all('h3', class_="margin-t-5 res_loc")
for elements2 in temp2:
    location.append(elements2.text.replace("\n     "," ").replace("                "," ").replace("            "," "))

ch_biriyani = list(zip(rating,biriyani,location))
print(ch_biriyani)

best_biriyanii(ch_biriyani)

[(4.4, ' Copper Chimney ', ' Phoenix Market City, Chennai '), (4.0, " Khalid's Biryani ", ' Ambattur, Chennai '), (4.3, " Sulthan's Biryani ", ' Navallur, Chennai '), (5.0, ' Aasife Biriyani ', ' Velachery, Chennai '), (4.0, " Khalid's Biryani ", ' Perumbakkam, Chennai '), (4.0, ' Singam 101 Biryani ', ' Valasaravakkam, Chennai '), (3.0, ' Afraaz Biriyani ', ' Madipakkam, Chennai '), (4.5, " Abid's ", ' Chetpet, Chennai '), (4.5, ' Anise ', ' Taj Coromandel, Chennai '), (4.6, ' Curry and Spices ', ' Kodambakkam, Chennai ')]

NameError: name 'best_biriyanii' is not defined

In [ ]:
def solve(A):
    B=tuple(A)
    C=[]
    for element in A:
        C.append(B.count(element))
    D = max(C)
    return D

In [ ]:
solve([1,1,2,3,1])

In [ ]:
def solve(N,A):
    B=tuple(A)
    C=[]
    for element in A:
        C.append(B.count(element))
    D = max(C)
    return D

In [ ]:
solve(3,[1,2,3,4,3])

MAP & LAMBDA

In [ ]:
def vote(age):
    if age>= 18:
        return "Eligible"
    else:
        return "NOT Eligible"
    
ellist = []
for elements in agelist:
    ellist.append((vote(elements)))
print(ellist)

In [ ]:
agelist = [14,19,18]

In [ ]:
list(map(vote,agelist))

In [ ]:
for elements in agelist:
    print(vote(elements))

In [ ]:
def square(num):return num**2
def squarert(num):return num**0.5

In [ ]:
print(list(map(square,[1,2,3,4,5])))
list(map(squarert,[1,2,3,4,5]))

In [ ]:
list(map(lambda num:num**2,[1,12,32,4]))

In [ ]:
list(map(lambda name:name[0] ,["akash","surendharan","sirisha","darkii"]))

In [ ]:
list(map(lambda word:int(word) == word[::-1] ,input("Enter the element").split(",")))

In [ ]:
listn=[]
n = int(input("enter the number of list"))
while n!=0:
    listn.append(input())
    n-=1
listn

In [ ]:
l = input("Enter the element").split(",")
l

In [ ]:
x = "GLOBAL"
def numbers():
    x="LOCAL"
    def number2():
        global x
        x=4
        print(x)
    number2()

# CLASS & OBJECTS

A class is a user-defined blueprint or prototype from which objects are created. Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made.

In [ ]:
class Phone():
    def __init__(self,model,ram,camera,storage,colour):
        #Attribute properties of the objects
        #getting arguments from the user
        #then assigning to the self.attribute_name
        #we assuming self as a instance of the class
        self.model=model
        self.ram=ram
        self.camera=camera
        self.storage=storage
        self.colour = colour

In [ ]:
myphone=Phone(model="Redmi note 8 pro",ram="6GB",camera="64MP",storage="64GB",colour = "Green")

In [ ]:
myphone.model

In [ ]:
myphone.camera

In [ ]:
myphone.ram

In [ ]:
myphone.storage

In [ ]:
class Numlist():
    def __init__(self,numbers):
        
        self.evenlist = [x for x in numbers if x%2==0]
        self.oddlist = [x for x in numbers if x%2!=0]
        self.square=[x**2 for x in numbers]
        self.squareroot=[x**(1/2) for x in numbers]

In [ ]:
mynumlist=Numlist(numbers=[1,2,3,4,5,6,7,8,9,10])

In [ ]:
mynumlist.

In [ ]:
mynumlist.oddlist

In [ ]:
mynumlist.square

In [ ]:
mynumlist.squareroot

In [2]:
class Phone():
    
    #class object attribute
    #same for any instance of the class
    phtype = "Smart phone"
    
    def __init__(self,model,ram,camera,storage):
        #Attribute properties of the objects
        #getting arguments from the user
        #then assigning to the self.attribute_name
        #we assuming self as a instance of the class
        self.model=model
        self.ram=ram
        self.camera=camera
        self.storage=storage
        
    def info(self,colour):#methods
        print(f" Model name: {self.model}\n RAM: {self.ram}\n Camera: {self.camera}\n Storage: {self.storage}, colour is {colour}")

In [3]:
myphone=Phone(model="Redmi note 8 pro",ram="6GB",camera="64MP",storage="64GB")

In [4]:
vishal=Phone(model="Redmi note 8 pro",ram="6GB",camera="64MP",storage="64GB")

In [7]:
id(myphone)

2026355471024

In [8]:
id(vishal)

2026355470832

In [5]:
myphone.phtype

'Smart phone'

In [ ]:
class Numlist():
    def __init__(self,numbers):
        self.numbers=numbers
        self.evenlist = [x for x in numbers if x%2==0]
        self.oddlist = [x for x in numbers if x%2!=0]
        self.square=[x**2 for x in numbers]
        self.squareroot=[x**(1/2) for x in numbers]
        
    def addlist(self,anotherlist):
        combinedlist=[x+y for x in self.numbers for y in anotherlist]
        return combinedlist

In [ ]:
mynumlist=Numlist(numbers=[1,2,3,4,5,6,7,8,9,10])

In [ ]:
mynumlist.evenlist()

# INHERITANCE

Inheritance is one in which a new class is created (derived class) that inherits the features from the already existing class(Base class).

In [42]:
class Students():
    
    def __init__(self,stdinfo):
        self.stdinfo = stdinfo
        self.names = [names for names,rollno,CGPA in stdinfo]
        self.rollno = [rollno for names,rollno,CGPA in stdinfo]
        self.CGPA = [CGPA for names,rollno,CGPA in stdinfo]

In [43]:

students=Students([("akash",57,9.25),("siri",26,9.23),("Mirage",21,9.10),("Mark",32,6)])

In [44]:
students.CGPA

[9.25, 9.23, 9.1, 6]

In [45]:
class Placement(Students):
    def __init__(self,stdinfo):
        Students.__init__(self,stdinfo)
    def eligible(self):
        return [names for names,rollno,CGPA in self.stdinfo if CGPA>8]

In [46]:
placement2022=Placement([("akash",57,9.25),("siri",26,9.23),("Mirage",21,9.10),("Mark",32,6)])

In [47]:
placement2022.eligible()

['akash', 'siri', 'Mirage']

# polymorphism

Polymorphism refers to methods of different objects have the same, but do different task

In [48]:
class Animal():
    def __init__(self,name):
        self.name=name
    def speak(self):
        raise notimplementederror("subclass must implement this abstract method")

In [49]:
class Dog(Animal):
    def speak(self):
        return self.name+" SAYS WOOF"

In [50]:
class Cat(Animal):
    def speak(self):
        return self.name+" SAYS MEOW"

In [51]:
mydog = Dog("SAM")
print(mydog.speak())

SAM SAYS WOOF

In [52]:
mycat = Cat("Luna")
print(mycat.speak())

Luna SAYS MEOW

# Special methods in OOPS

def __str__(self):
def __len__(self):
del

In [53]:
class Books():
    def __init__(self,title,author,pages):
        self.title = title
        self.author= author
        self.pages = pages
    def __str__(self):
        return f"{self.title} by {self.author}"

In [54]:
b = Books("python rocks","akash",140)

In [55]:
print(b)

python rocks by akash

In [56]:
class Books():
    def __init__(self,title,author,pages):
        self.title = title
        self.author= author
        self.pages = pages
    def __str__(self):
        return f"{self.title} by {self.author}"
    def __len__(self):
        return self.pages

In [57]:
b = Books("python rocks","akash",140)

In [58]:
len(b)

140

In [63]:
class Books():
    def __init__(self,title,author,pages):
        self.title = title
        self.author= author
        self.pages = pages
    def __str__(self):
        return f"{self.title} by {self.author}"
    def __len__(self):
        return self.pages
    def __del__(self):
        print("A book object as been deleted")

In [64]:
b = Books("python rocks","akash",140)

In [65]:
del b

A book object as been deleted

# OOPS CHALLENGE

In [66]:
class Account:
    def __init__(self,owner,balance):
        self.owner = owner
        self.balance = balance
    def __str__(self):
        return f"Account owner:   {self.owner}\nAccount balance: {self.balance}"
    def deposit(self,money):
        self.balance = self.balance+money
        print("Deposit Accepted")
    def withdraw(self,money):
        if money < self.balance:
            self.balance = self.balance-money
            print("Withdrawal Accepted")
        else:
            print("Funds Unavailable!")

In [67]:
acct1 = Account('Jose',100)

In [68]:
print(acct1)

Account owner:   Jose
Account balance: 100

In [69]:
acct1.deposit(50)

Deposit Accepted

In [70]:
acct1.withdraw(75)

Withdrawal Accepted

In [71]:
acct1.withdraw(500)

Funds Unavailable!

In [72]:
acct1.balance

75

# MODULES AND PACKAGES

In [9]:
def fact(num):
    if num==0:
        return 1
    return num*fact(num-1)
def strong(n):
    sum=0
    for i in str(n):
        sum=sum+fact(int(i))
    if sum==n:
        return("its a strong number")
    else:
        return("its not a stong number")

In [11]:
strong(141234)

'its not a stong number'

In [12]:
n = 376
# n^2 = 141376 141376[-3::] = 376
print("YES" if int(str(n**2)[-len(str(n))::]) == n else "No")

YES

In [25]:
def psqr(num):
    n=str(num**num)
    return n[-len(str(num))::] == str(num)

In [26]:
num=int(input())
if psqr(num):
    print("perfect square")
else:
    print("not a perfect square")

376
perfect square

In [4]:
name="akash"
count=0
for letters in name:
    print(letters)
    count=count+1
print(count)

a
k
a
s
h
5

In [ ]:
def printresult(arr1,arr2):
    arr3=[]
    for i in arr1:
        if i in arr2:
            li3.append(i)
    return arr3

In [ ]:
printresult([12,23,34,45,56,67,78,89],[23,11,45,45,99,78])

In [66]:
from bs4 import BeautifulSoup
import requests
url = "https://www.grabon.in/amazon-deals/"
r = requests.get(url)
data = BeautifulSoup(r.text, "html.parser")
print("\ncollecting offer details from amazon")
temp = data.find_all("div", class_="g-deal")

print("\nDeal of the day", temp[0].text.replace("   ", "on").replace("BUY NOW", "BEFORE OFFER PRICE"))

print("\ncollecting, and sending you the offers")
print("Deal of the day", temp[1].text.replace("   ", "on").replace("BUY NOW", "BEFORE OFFER PRICE"))

print("\nDeal of the day", temp[2].text.replace("   ", "on").replace("BUY NOW", "BEFORE OFFER PRICE"))

print("\nDeal of the day", temp[3].text.replace("   ", "on").replace("BUY NOW", "BEFORE OFFER PRICE"))

collecting offer details from amazon

Deal of the day  75 % OFFon Amazon Safari Travel Suitcase for Men and Women Rs. 1967 Rs. 7775 BEFORE OFFER PRICE

collecting, and sending you the offers
Deal of the day  63 % OFFon Amazon True Gaming Earbuds Rs. 1967 Rs. 7775 BEFORE OFFER PRICE

Deal of the day  38 % OFFon Amazon Logitech M221 Wireless Mouse Rs. 799 Rs. 1295 BEFORE OFFER PRICE

Deal of the day  55 % OFFon Amazon Butterfly Smart Glass 3 Burner Gas Stove Rs. 2899 Rs. 6495 BEFORE OFFER PRICE